
h1{
  margin: auto;
  text-align: center;
  height: 2em;
  font-size: 3.5em;
}
h2{
  text-align: center;
}
div{
  background-color: grey;
}
.nav{
  position: fixed;
  width: 90%
  height: 10em;
  margin: auto;
  border: 1px dashed white;
  clear: both;
}
.logo-image {
    background-color: grey;
    width: 8em;
    height: 5em;
    display: block;
    float: left;
    border: 1px dashed white;
    background-image: url(../imgs/logo.png);
  background: 100% no-repeat center;
  background-size: cover;
    position: fixed;
    top: 0px;
  }
ul li {
    display: block;
    width: 60px;
    float: left;
    width: 18%;
}
.project-tabs{
  float: left;
  border: 1px dashed white;
  width: 25%;
}

.card{
  width: 25em;
  height: 17em;
  clear: both;
  float: left;
  margin: 1px dashed white;
  overflow: scroll;

}
.BCimage{
  width: 40%;
  height: 100%;
  position: relative;
  float: left;
  border: 1px dashed white;
  background-image: url(../imgs/pic.JPG);
  background: 100% no-repeat center;
  background-size: cover;
  margin-left: 15px;
  border-radius: 10%;
}
.card-text{
  width: 50%;
  display: block;
  position: relative;
  float: right;
  overflow: scroll;
  border: 1px dashed white;
}
.video-side{
  width: 30%
  border: 1px dashed white;
}
.main-text{
  clear: both;
  text-align: justify;
  border: 1px dashed white;
}
.nav-pic{
  border-radius: 50%;
  width: 20em;
  height: 20em;
  border: 1px dashed white;
}
.secondnav-button {
    width: 10em;
    height: 10em;
    background-color: blue;
    border: 1px dashed white;
    display: block;
    text-align: center;
    line-height: 10em;
}
.secondnav-sub-button{
    width: 5em;
    height: 3em;
    background-color: blue;
    border: 1px dashed white;
    display: block;
    text-align: center;
    line-height: 10em;
    color: black;
}
.gallery{
  width: 10em;
  height: 10em;
  background-color: gray;
  border: 1px dashed white;

}
/*///////////////// Media query///////*/

@media (max-width: 600px) {
  .card-text {
    display: none;
  }
}
.main-blog-text{
  
}
.big-button{
  width: 50%;
  height: 10%;
  border: 2px white solid;
  border-radius: 15%;
  margin: auto;
  clear: both;
}