
h1{
  margin: auto;
  text-align: center;
  height: 2em;
  font-size: 3.5em;
}
h2{
  text-align: center;
  clear: both;
}
div{
  background-color: grey;
}
.nav{
  position: fixed;
  width: 90%
  height: 10em;
  margin: auto;
  border: 1px dashed white;
  clear: both;
}
.logo-image {
    background-color: grey;
    width: 8em;
    height: 5em;
    display: block;
    float: left;
    border: 1px dashed white;
    background-image: url(../imgs/logo.png);
  background: 100% no-repeat center;
  background-size: cover;
    position: fixed;
    top: 0px;
  }
ul li {
    display: block;
    width: 60px;
    float: left;
    width: 18%;
}
.project-tabs{
  float: left;
  border: 1px dashed white;
  width: 25%;
}

.card{
  width: 25em;
  height: 17em;
  clear: both;
  float: left;
  margin: 1px dashed white;
  overflow: scroll;

}
.BCimage{
  width: 40%;
  height: 100%;
  position: relative;
  float: left;
  border: 1px dashed white;
  background-image: url(../imgs/pic.JPG);
  background: 100% no-repeat center;
  background-size: cover;
  margin-left: 15px;
  border-radius: 10%;
}
.card-text{
  width: 50%;
  display: block;
  position: relative;
  float: right;
  overflow: scroll;
  border: 1px dashed white;
}
.video-side{
  width: 30%
  border: 1px dashed white;
}
.video-large{
  width: 50%;
  margin: 0% 20%;
}
.main-text{
  clear: both;
  text-align: justify;
  border: 1px dashed white;
}
.nav-pic{
  border-radius: 50%;
  width: 20em;
  height: 20em;
  border: 1px dashed white;
}
.secondnav-button {
    width: 10em;
    height: 10em;
    background-color: blue;
    border: 1px dashed white;
    display: block;
    text-align: center;
    line-height: 10em;
}
.secondnav-sub-button{
    width: 5em;
    height: 3em;
    background-color: blue;
    border: 1px dashed white;
    display: block;
    text-align: center;
    line-height: 10em;
    color: black;
}
.gallery{
  width: 10em;
  height: 10em;
  background-color: gray;
  border: 1px dashed white;

}
/*///////////////// Media query///////*/

@media (max-width: 600px) {
  .card-text {
    display: none;
  }
}
.main-blog-text{
  
}
.big-button{
  width: 50%;
  height: 10%;
  border: 2px white solid;
  border-radius: 15%;
  margin: auto;
  clear: both;
}
/*///////////        CONTACT LINKS     //////////*/
.contact-links{
  position: fixed;
  bottom: 0px;
}
a.Facebook{
   display: block;
   float: left;
    width: 48px;
    height: 48px;
    overflow: hidden; /* sets overflow outsid ethe element to hidden */
    white-space: nowrap; /* prevent line breaks (text wrapping) */
    text-indent: 100%; /* indents text outside the viewable area */
    background: url(../imgs/Social-Icons.png) no-repeat; /* set background image */
}
a.Facebooka:hover {
    background-position: 98px 0; /* background-position accepts two values the first being horizontal movement and the second being vertical movement. this will re-position image to left 185px on hover */
}
a.Twitter{
   display: block;
   float: left;
    width: 48px;
    height: 48px;
    overflow: hidden; /* sets overflow outsid ethe element to hidden */
    white-space: nowrap; /* prevent line breaks (text wrapping) */
    text-indent: 100%; /* indents text outside the viewable area */
    background: url(../Social-Icons.png) no-repeat; /* set background image */
}
a.Instagram{
   display: block;
   float: left;
    width: 40px;
    height: 40px;
    overflow: hidden; /* sets overflow outsid ethe element to hidden */
    white-space: nowrap; /* prevent line breaks (text wrapping) */
    text-indent: 100%; /* indents text outside the viewable area */
    background: url(../Social-Icons.png) no-repeat; /* set background image */
}
a.Mail{
   display: block;
   float: left;
    width: 48px;
    height: 48px;
    overflow: hidden; /* sets overflow outsid ethe element to hidden */
    white-space: nowrap; /* prevent line breaks (text wrapping) */
    text-indent: 100%; /* indents text outside the viewable area */
    background: url(../Social-Icons.png) no-repeat; /* set background image */
}
a.Share{
   display: block;
   float: left;
    width: 40px;
    height: 40px;
    overflow: hidden; /* sets overflow outsid ethe element to hidden */
    white-space: nowrap; /* prevent line breaks (text wrapping) */
    text-indent: 100%; /* indents text outside the viewable area */
    background: url(../Social-Icons.png) no-repeat; /* set background image */
}
/*////////////////   FOOTER    ////////////// */
footer{
  clear: both;
}

/*///// TEXT STYLES in divs /////*/
.code-piece{
  background: black;
  color: yellow;
}
.red{
  color: red;
}
/*/////////COLUMNS AND LAYOUTS//////*/
div.column-2{
  clear: both;
  width: 80%;
  margin: auto;
  border: 3px solid black;
  border-radius: 5%;
  padding: 4em;
}
.column-2 {
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
}

/*///// MEDIA PICS AND VIDEOS //////*/
.med-pic-blog{
  margin: auto;
  border: solid black 2px;
  width: 90%;
  overflow: hidden;
}
div img{
  width: 100%;
}